/* Please scroll down to the start of your exercise! */

/* import font */

@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

section {
  background-color: lemonchiffon;
  display: grid;
  place-items: center;
}

.skyblue {
  background-color: skyblue;
}

button {
  background-color: white;
  padding: 8px 25px;
}

/* Your exercise starts here */

/* Add your CSS styles below this line. Feel free to replace the comments with your code. Make sure not to put your code into the comments, because then nothing will happen. */

.button1 {
  /*Style me! Change my border, set a border radius or what you want to try out. :) */
  cursor: pointer;
  width: 12rem;
  height: 4rem;
  border: 0.8rem outset rgb(102, 102, 102);
  border-radius: 8px;
}

.button2 {
  /*Style me! Change my color, or my background-color. Or both! You can test out different color modes here - like HEX, RGB, ... */
  cursor: pointer;
  padding: 0.45rem;
  color: white;
  text-shadow: 1px 1px 4px black;
  background-image: linear-gradient(
    rgb(6, 218, 255),
    rgb(249, 255, 207),
    #6f6fff
  );
  border: none;
}

.button3 {
  /*Style me! You can test out changing the font, or font size, ...*/
  cursor: pointer;
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: bolder;
  color: white;
  text-shadow: 0px 0px 8px white;
  background: black;
}

.button4 {
  /*Style me! Can you add a shadow to this button? Maybe play around with the shadow properties, as well? You can even color the shadow, make it bigger or smaller, ... */
  cursor: pointer;
  box-shadow: 0px 0px 2px rgb(0, 0, 0), 0px 0px 4px rgba(255, 255, 255),
    0px 0px 6px rgb(162, 0, 255), 0px 0px 8px rgba(255, 255, 255),
    0px 0px 12px rgba(108, 64, 255, 0.362);
  border-radius: 6px;
  color: white;
  background-color: rgba(119, 33, 240, 0.728);
}
.button4:active {
  transform: scale(0.99);
}

/* Feel free to play around with other properties, as well. */
